body {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    flex-direction: column;
    display: flex;
}

.header, .footer {
    background: #192f35;
    color: #c8d4db;
    padding: 30px;
    display: flex;
}

.header {
    justify-content: space-between;
    align-items: center;
    padding: 0 350px;
    font-size: 24px;
    font-weight: bold;
}

.footer {
    justify-content: center;
    align-items: center;
}

ul {
    list-style: none;
    display: flex;
    gap: 40px;
    font-size: 18px;
    font-weight: 100
}

.darkContainer {
    padding: 80px 350px;
    background: #192f35;
    color: #c8d4db;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
}

.darkContainer .subtitle {
    font-size: 48px;
}

.darkContainer button {
    background-color: #d0debf;
    border: #192f35;
    border-radius: 10px;
    padding: 5px 15px;
    color: #10263e;
    font-size: 15px;
    font-weight: bold;
}

.darkContainer img {
    max-width: 500px;
    border-radius: 30px;
    flex: 1 10 0;
}

.content {
    padding: 40px 350px;
    background: rgb(241, 241, 241);
    color: #192f35;
    font-size: 18px;
    text-align: center;
    flex-direction: column;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.container {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.content .subtitle {
    font-size: 40px;
    font-weight: bold;
}

.card {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    flex-shrink: 0px;
    gap: 10px;
}

.box {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    box-shadow: inset 1px 1px 2px rgb(0 0 0 / 50%);
}

.box.first {
    background: #192f35;
}

.box.second {
    background: #10263e;
}

.box.third {
    background: #d0debf;
}

.box.fourth {
    background: #f0ca99;
}

.card.text {
    padding: 0px;
    margin: 0px;
}

.quote {
    padding: 60px 350px 10px 350px;
    background: #d0debf;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote span {
    font-size: 30px;
    font-style: italic;
    padding: 20px;
}

.author {
    align-self: flex-end;
    font-weight: bold;
    font-size: 25px;
    margin-right: 150px;
    margin-bottom: 60px;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 350px;
    color: #10263e;
    background: rgb(241, 241, 241);
}

.title {
    font-weight: bold;
    padding-bottom: 5px;
}

.input {
    display: flex;
    justify-content: space-between;
    gap: 60px;
    padding: 80px 60px;
    background-color: #f0ca99;
    border-radius: 10px;
    font-size: 20px;
}

.input button {
    background: #f0ca99;
    border: 2px solid #10263e;
    border-radius: 5px;
    padding: 5px 20px;
    font-size: 15px;
    font-weight: bold;
}


